*,
*::before,
*::after {
    box-sizing: border-box;
}

.my-photo {
    border-radius: 50%;
}

div.container {
    min-width: 320px;

    max-width: 1280px;

    margin: 0 auto;

    padding: 0 20px;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color:var(--black)
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
}

a {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    text-align: center;
}

button {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    text-align: center;

    padding: 0;
    border: none;
    color: var(--green);
    background-color: transparent;
    cursor: pointer;

    text-transform: lowercase;

    box-sizing: border-box;

    padding: 6px 10px 10px;
    border: 1px solid #09A494;
    border-radius: 8px;
    
}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

.main-footer {
    color:var(--white);
    background-color: var(--black);
}

p.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;

    color:var(--green);
}

.main-nav a {
    display: inline-block;
    text-decoration: none;

    padding: 10px 15px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;


    text-align: center;

    color:var(--black);
}

.main-nav a:hover {
    color: var(--green);
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;

    text-transform: lowercase;
}

.skill-list dd{
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}

.skill-list div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}

.skill-item_html {
    background-image: url("../img/icon-html.svg");
}

.skill-item_java {
    background-image: url("../img/icon-java.svg");
}

.skill-item_python {
    background-image: url("../img/icon-python.svg");
}

.skill-item_cpp {
    background-image: url("../img/icon-c++.svg");
}

.contact {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact a {
    text-decoration: none;
    color: var(--black);

    padding-left: 42px;

    background-repeat: no-repeat;
    background-position: 0;
}

.contact a:hover {
    color: var(--green);
}

.contact-link_phone {
    background-image: url(../img/contactsicon-phone.svg);
}

.contact-link_mail {
    background-image: url(../img/contactsicon-mail.svg);
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social a {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #09A494;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: 50%;
}

.social a:hover {
    background-color: var(--green);
}

.social-link_github {
    background-image: url(../img/property-github.svg);
}

.social-link_gitlab {
    background-image: url(../img/property-gitlab.svg);
}

.social-link_telegram {
    background-image: url(../img/property-telegram.svg);
}

.social-link_vk {
    background-image: url(../img/property-vk.svg);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;
}